/**
  Creates reaction animation.
  @param name     The name of the reaction.
  @param duration The length of the reaction.
  @param steps    Number of animation steps.
  @param end      The end of the reaction (in svg).
**/
/**
  Creates walking animation.
  @param direction The walking direction.
  @param duration  The walking speed.
  @param row       The row of the sprite sheet.
  @param npc       If this is the NPC walking animation.
**/
body {
  background: #252525;
  margin: 0;
  padding: 0; }

#status {
  position: relative;
  width: 564px;
  height: 75px;
  margin: 20px auto 0;
  background-image: url(../img/status/status.svg);
  background-size: 564px 75px;
  opacity: 0; }
  #status .wallet-tho {
    top: 33px;
    left: 39px;
    background-position: 0 -96px; }
  #status .wallet-hun {
    top: 33px;
    left: 60px;
    background-position: 0 -96px; }
  #status .wallet-ten {
    top: 33px;
    left: 81px;
    background-position: 0 -96px; }
  #status .wallet-sin {
    top: 33px;
    left: 102px;
    background-position: 0 -96px; }
  #status .season {
    position: absolute;
    top: 6px;
    right: 129px;
    width: 45px;
    height: 27px;
    background-image: url(../img/status/seasons.svg);
    background-size: 45px 99px;
    background-position: 0 -72px; }
  #status .weekday {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 66px;
    height: 27px;
    background-image: url(../img/status/weekdays.svg);
    background-size: 66px 171px; }
  #status .number {
    position: absolute;
    width: 24px;
    height: 27px;
    background-image: url(../img/status/numbers.svg);
    background-size: 24px 267px; }
    #status .number.dark {
      background-image: url(../img/status/numbers-dark.svg); }
  #status .day-tenth {
    top: 6px;
    right: 99px;
    background-position: 0 -96px; }
  #status .day-single {
    top: 6px;
    right: 78px;
    background-position: 0 -24px; }
  #status .hour-tenth {
    top: 33px;
    right: 150px;
    background-position: 0 -24px; }
  #status .hour-single {
    top: 33px;
    right: 129px;
    background-position: 0 -120px; }
  #status .minute-tenth {
    top: 33px;
    right: 99px;
    background-position: 0 -24px; }
  #status .minute-single {
    top: 33px;
    right: 78px;
    background-position: 0 -24px; }
  #status .time-of-day {
    position: absolute;
    top: 33px;
    right: 24px;
    width: 48px;
    height: 27px;
    background-image: url(../img/status/time-of-day.svg);
    background-size: 48px 51px;
    background-position: 0 -24px; }

.background {
  position: absolute;
  z-index: -10;
  top: 77px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url(../img/status/background.svg);
  background-size: 564px 564px;
  height: 564px;
  width: 564px; }

#game {
  position: relative;
  overflow: hidden;
  background: black;
  height: 528px;
  width: 528px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0s; }
  #game.visible {
    opacity: 1;
    transition: opacity .5s; }

.area {
  position: absolute;
  overflow: hidden;
  transition: left 0.15s linear, bottom 0.15s linear; }
  .area img {
    width: 100%;
    height: 100%; }
  .area #avatar {
    position: absolute;
    width: 69px;
    height: 87px;
    transition: left 0.15s linear, bottom 0.15s linear;
    left: -21px;
    bottom: 0; }
    .area #avatar .sprite {
      background-image: url(../img/characters/adele.svg); }
    .area #avatar .walk-left {
      -webkit-animation: walk-left-start 0.45s steps(3), walk-left 0.6s 0.45s steps(4) infinite;
      animation: walk-left-start 0.45s steps(3), walk-left 0.6s 0.45s steps(4) infinite; }
@keyframes walk-left-start {
  from {
    background-position: -69px -261px; }
  to {
    background-position: -276px -261px; } }
@-webkit-keyframes walk-left-start {
  from {
    background-position: -69px -261px; }
  to {
    background-position: -276px -261px; } }
@keyframes walk-left {
  from {
    background-position: 0px -261px; }
  to {
    background-position: -276px -261px; } }
@-webkit-keyframes walk-left {
  from {
    background-position: 0px -261px; }
  to {
    background-position: -276px -261px; } }
    .area #avatar .walk-up {
      -webkit-animation: walk-up-start 0.45s steps(3), walk-up 0.6s 0.45s steps(4) infinite;
      animation: walk-up-start 0.45s steps(3), walk-up 0.6s 0.45s steps(4) infinite; }
@keyframes walk-up-start {
  from {
    background-position: -69px -174px; }
  to {
    background-position: -276px -174px; } }
@-webkit-keyframes walk-up-start {
  from {
    background-position: -69px -174px; }
  to {
    background-position: -276px -174px; } }
@keyframes walk-up {
  from {
    background-position: 0px -174px; }
  to {
    background-position: -276px -174px; } }
@-webkit-keyframes walk-up {
  from {
    background-position: 0px -174px; }
  to {
    background-position: -276px -174px; } }
    .area #avatar .walk-right {
      -webkit-animation: walk-right-start 0.45s steps(3), walk-right 0.6s 0.45s steps(4) infinite;
      animation: walk-right-start 0.45s steps(3), walk-right 0.6s 0.45s steps(4) infinite; }
@keyframes walk-right-start {
  from {
    background-position: -69px -87px; }
  to {
    background-position: -276px -87px; } }
@-webkit-keyframes walk-right-start {
  from {
    background-position: -69px -87px; }
  to {
    background-position: -276px -87px; } }
@keyframes walk-right {
  from {
    background-position: 0px -87px; }
  to {
    background-position: -276px -87px; } }
@-webkit-keyframes walk-right {
  from {
    background-position: 0px -87px; }
  to {
    background-position: -276px -87px; } }
    .area #avatar .walk-down {
      -webkit-animation: walk-down-start 0.45s steps(3), walk-down 0.6s 0.45s steps(4) infinite;
      animation: walk-down-start 0.45s steps(3), walk-down 0.6s 0.45s steps(4) infinite; }
@keyframes walk-down-start {
  from {
    background-position: -69px 0; }
  to {
    background-position: -276px 0; } }
@-webkit-keyframes walk-down-start {
  from {
    background-position: -69px 0; }
  to {
    background-position: -276px 0; } }
@keyframes walk-down {
  from {
    background-position: 0px 0; }
  to {
    background-position: -276px 0; } }
@-webkit-keyframes walk-down {
  from {
    background-position: 0px 0; }
  to {
    background-position: -276px 0; } }
    .area #avatar .shadow {
      background-image: url(../img/characters/shadow_sm.svg); }
  .area .npc {
    position: absolute;
    width: 69px;
    height: 87px;
    transition: left 0.3s linear, bottom 0.3s linear; }
  .area .reaction {
    position: absolute;
    top: -24px;
    height: 57px;
    width: 69px;
    background-image: url(../img/characters/reaction.svg);
    background-size: 828px 228px;
    background-position: 0 0; }
  .area .react-surprise {
    -webkit-animation: react-surprise 1s steps(8);
    animation: react-surprise 1s steps(8); }
@keyframes react-surprise {
  from {
    background-position: -69px 0; }
  to {
    background-position: -621px 0; } }
@-webkit-keyframes react-surprise {
  from {
    background-position: -69px 0; }
  to {
    background-position: -621px 0; } }
  .area .react-love {
    -webkit-animation: react-love 1s steps(8);
    animation: react-love 1s steps(8); }
@keyframes react-love {
  from {
    background-position: -69px -57px; }
  to {
    background-position: -621px -57px; } }
@-webkit-keyframes react-love {
  from {
    background-position: -69px -57px; }
  to {
    background-position: -621px -57px; } }
  .area .react-wat {
    -webkit-animation: react-wat 2s steps(11);
    animation: react-wat 2s steps(11); }
@keyframes react-wat {
  from {
    background-position: -69px -114px; }
  to {
    background-position: -828px -114px; } }
@-webkit-keyframes react-wat {
  from {
    background-position: -69px -114px; }
  to {
    background-position: -828px -114px; } }
  .area .react-sleep {
    -webkit-animation: react-sleep 4s steps(11);
    animation: react-sleep 4s steps(11); }
@keyframes react-sleep {
  from {
    background-position: -69px -171px; }
  to {
    background-position: -828px -171px; } }
@-webkit-keyframes react-sleep {
  from {
    background-position: -69px -171px; }
  to {
    background-position: -828px -171px; } }
  .area .shadow {
    position: absolute;
    width: 45px;
    height: 18px;
    z-index: 0;
    left: 12px;
    bottom: 3px;
    background-size: 100%; }
  .area .sprite {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: 0 0;
    background-size: 276px 348px; }
  .area .walk-left {
    -webkit-animation: walk-left-start 0.45s steps(3), walk-left 0.6s 0.45s steps(4) infinite;
    animation: walk-left-start 0.45s steps(3), walk-left 0.6s 0.45s steps(4) infinite; }
@keyframes walk-left-start {
  from {
    background-position: -69px -261px; }
  to {
    background-position: -276px -261px; } }
@-webkit-keyframes walk-left-start {
  from {
    background-position: -69px -261px; }
  to {
    background-position: -276px -261px; } }
@keyframes walk-left {
  from {
    background-position: 0px -261px; }
  to {
    background-position: -276px -261px; } }
@-webkit-keyframes walk-left {
  from {
    background-position: 0px -261px; }
  to {
    background-position: -276px -261px; } }
  .area .walk-up {
    -webkit-animation: walk-up-start 0.45s steps(3), walk-up 0.6s 0.45s steps(4) infinite;
    animation: walk-up-start 0.45s steps(3), walk-up 0.6s 0.45s steps(4) infinite; }
@keyframes walk-up-start {
  from {
    background-position: -69px -174px; }
  to {
    background-position: -276px -174px; } }
@-webkit-keyframes walk-up-start {
  from {
    background-position: -69px -174px; }
  to {
    background-position: -276px -174px; } }
@keyframes walk-up {
  from {
    background-position: 0px -174px; }
  to {
    background-position: -276px -174px; } }
@-webkit-keyframes walk-up {
  from {
    background-position: 0px -174px; }
  to {
    background-position: -276px -174px; } }
  .area .walk-right {
    -webkit-animation: walk-right-start 0.45s steps(3), walk-right 0.6s 0.45s steps(4) infinite;
    animation: walk-right-start 0.45s steps(3), walk-right 0.6s 0.45s steps(4) infinite; }
@keyframes walk-right-start {
  from {
    background-position: -69px -87px; }
  to {
    background-position: -276px -87px; } }
@-webkit-keyframes walk-right-start {
  from {
    background-position: -69px -87px; }
  to {
    background-position: -276px -87px; } }
@keyframes walk-right {
  from {
    background-position: 0px -87px; }
  to {
    background-position: -276px -87px; } }
@-webkit-keyframes walk-right {
  from {
    background-position: 0px -87px; }
  to {
    background-position: -276px -87px; } }
  .area .walk-down {
    -webkit-animation: walk-down-start 0.225s steps(3), walk-down 0.3s 0.225s steps(4) infinite;
    animation: walk-down-start 0.225s steps(3), walk-down 0.3s 0.225s steps(4) infinite; }
@keyframes walk-down-start {
  from {
    background-position: -69px 0; }
  to {
    background-position: -276px 0; } }
@-webkit-keyframes walk-down-start {
  from {
    background-position: -69px 0; }
  to {
    background-position: -276px 0; } }
@keyframes walk-down {
  from {
    background-position: 0px 0; }
  to {
    background-position: -276px 0; } }
@-webkit-keyframes walk-down {
  from {
    background-position: 0px 0; }
  to {
    background-position: -276px 0; } }
  .area .npc-doppelganger {
    transition: left 0.15s linear, bottom 0.15s linear; }
  .area .item {
    position: absolute;
    background-size: 100%;
    transition: left 0.15s linear, bottom 0.15s linear; }
  .area .sleep-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    z-index: 100; }

#screen {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-size: 100%; }
  #screen .selector {
    position: absolute;
    background-size: 100%;
    z-index: 10001; }
  #screen .character-select-display {
    position: absolute;
    top: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 138px;
    height: 174px;
    background: url(../img/screens/character-select/sprite-background.svg);
    background-size: 100%;
    z-index: 10001;
    overflow: hidden; }
    #screen .character-select-display canvas {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: rotate-character 2s steps(4) infinite;
      animation: rotate-character 2s steps(4) infinite; }
@keyframes rotate-character {
  from {
    top: 0; }
  to {
    top: -696px; } }
@-webkit-keyframes rotate-character {
  from {
    top: 0; }
  to {
    top: -696px; } }
  #screen .text-entry {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 81px;
    font-family: VT323, monospace;
    z-index: 10001; }

.prompt {
  position: absolute;
  z-index: 20000;
  bottom: 0;
  left: 0; }
  .prompt .messages,
  .prompt .options {
    display: none;
    position: relative;
    min-height: 51px;
    margin-top: 15px;
    padding: 0;
    border: 15px solid transparent;
    border-image-source: url("../img/border.svg");
    border-image-width: 24px;
    border-image-repeat: repeat;
    border-image-slice: 10; }
    .prompt .messages .content,
    .prompt .options .content {
      min-height: 60px;
      background: white;
      font-size: 30px;
      font-family: VT323, monospace;
      padding: 12px 42px 12px 12px;
      box-sizing: border-box; }
      .prompt .messages .content .current-selection,
      .prompt .options .content .current-selection {
        color: #b24946; }
    .prompt .messages .next-arrow,
    .prompt .messages .select-arrow,
    .prompt .options .next-arrow,
    .prompt .options .select-arrow {
      position: absolute;
      height: 27px;
      width: 21px; }
      .prompt .messages .next-arrow img,
      .prompt .messages .select-arrow img,
      .prompt .options .next-arrow img,
      .prompt .options .select-arrow img {
        width: 100%;
        height: 100%; }
    .prompt .messages .next-arrow,
    .prompt .options .next-arrow {
      bottom: 15px;
      right: 12px; }
    .prompt .messages .select-arrow,
    .prompt .options .select-arrow {
      top: 12px;
      left: 12px; }
  .prompt .messages {
    width: 498px; }
  .prompt .options .content {
    padding-left: 45px; }

/***************
    Z-INDEX
----------------
-1  : Background
0   : Shadow
1   : Sprite
3   : Mirror (see js/event/mirror.js)
10x : Avatar, NPC (z-index changes based on y coord)
10x + 1 : Avatar/NPC reaction bubble
10x + 5 : Item
10000 : Screens
20000 : Prompt
***************/

/*# sourceMappingURL=main.css.map */
