$multiplier: 4;
// Production: $anim-speed: .25s; 
$anim-speed: .15s;

body {
  background: black;
  margin: 0;
  padding: 0;
}

#game {
  position: relative;
  overflow: hidden;

  height: 16px * 11 * $multiplier;
  width: 16px * 11 * $multiplier;

  margin: 30px auto 0;

  opacity: 0;
  transition: opacity 0s;

  &.visible {
    opacity: 1;
  transition: opacity .5s;
  }
}

.area {
  position: absolute;
  overflow: hidden;
  transition: left $anim-speed linear, bottom $anim-speed linear;

  img {
    width: 100%;
    height: 100%;
  }

  $h: 29px * $multiplier;
  $w: 23px * $multiplier;

  #avatar {
    position: absolute;

    width: $w;
    height: $h;
    
    transition: left $anim-speed linear, bottom $anim-speed linear;

    left: -7px * $multiplier;
    bottom: 0;

    .sprite {
      background-image: url(../img/characters/adele.svg);
    }

    .shadow {
      background-image: url(../img/characters/shadow_sm.svg);
    }
  }

  .npc {
    position: absolute;

    width: $w;
    height: $h;
    
    transition: left $anim-speed linear, bottom $anim-speed linear;
  }

  .reaction {
    position: absolute;
    top: -8px * $multiplier;

    height: 19px * $multiplier;
    width: $w;

    background-image: url(../img/characters/reaction.svg);
    background-size: ($w * 12) (19px * $multiplier * 3);
    background-position: 0 0;
  }

  .react-surprise {
    animation: react-surprise 1s steps(8);
  }

  .react-love {
    animation: react-love 1s steps(8);
  }

  .react-wat {
    animation: react-wat 2s steps(11);
  }

  @keyframes react-surprise {
     from { background-position: (-23px * $multiplier) 0; }
       to { background-position: (-23px * 9 * $multiplier) 0; }
  }

  @keyframes react-love {
     from { background-position: (-23px * $multiplier) (-19px * $multiplier); }
       to { background-position: (-23px * 9 * $multiplier) (-19px * $multiplier); }
  }

  @keyframes react-wat {
     from { background-position: (-23px * $multiplier) (-38px * $multiplier); }
       to { background-position: (-23px * 12 * $multiplier) (-38px * $multiplier); }
  }

  .shadow {
    position: absolute;
    width: 15px * $multiplier;
    height: 6px * $multiplier;

    z-index: 0;

    left: 4px * $multiplier;
    bottom: 1px * $multiplier;

    background-size: 100%;
  }

  .sprite {
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 1;

    background-position: 0 0;
    background-size: ($w * 4) ($h * 4);
  }

  .walk-left {
    animation: walk-left-start ($anim-speed * 9 / 4) steps(3), 
               walk-left ($anim-speed * 3) ($anim-speed * 9 / 4) steps(4) infinite;
  }

  .walk-up {
    animation: walk-up-start ($anim-speed * 9 / 4) steps(3), 
               walk-up ($anim-speed * 3) ($anim-speed * 9 / 4) steps(4) infinite;
  }

  .walk-right {
    animation: walk-right-start ($anim-speed * 9 / 4) steps(3), 
               walk-right ($anim-speed * 3) ($anim-speed * 9 / 4) steps(4) infinite;
  }

  .walk-down {
    animation: walk-down-start ($anim-speed * 9 / 4) steps(3), 
               walk-down ($anim-speed * 3) ($anim-speed * 9 / 4) steps(4) infinite;
  }

  @keyframes walk-left-start {
     from { background-position: (-23px * $multiplier) (-87px * $multiplier); }
       to { background-position: (-92px * $multiplier) (-87px * $multiplier); }
  }

  @keyframes walk-left {
     from { background-position: 0px (-87px * $multiplier); }
       to { background-position: (-92px * $multiplier) (-87px * $multiplier); }
  }

  @keyframes walk-up-start {
     from { background-position: (-23px * $multiplier) (-58px * $multiplier); }
       to { background-position: (-92px * $multiplier) (-58px * $multiplier); }
  }

  @keyframes walk-up {
     from { background-position: 0px (-58px * $multiplier); }
       to { background-position: (-92px * $multiplier) (-58px * $multiplier); }
  }

  @keyframes walk-right-start {
     from { background-position: (-23px * $multiplier) (-29px * $multiplier); }
       to { background-position: (-92px * $multiplier) (-29px * $multiplier); }
  }

  @keyframes walk-right {
     from { background-position: 0px (-29px * $multiplier); }
       to { background-position: (-92px * $multiplier) (-29px * $multiplier); }
  }

  @keyframes walk-down-start {
     from { background-position: (-23px * $multiplier) 0px; }
       to { background-position: (-92px * $multiplier) 0px; }
  }

  @keyframes walk-down {
     from { background-position: 0px 0px; }
       to { background-position: (-92px * $multiplier) 0px; }
  }

  .item {
    position: absolute;
    background-size: 100%;
    transition: left $anim-speed linear, bottom $anim-speed linear;
  }
}

#screen {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-size: 100%;

  .selector {
    position: absolute;
    background-size: 100%;
    z-index: 10001;
  }
}

.prompt {
  position: absolute;
  z-index: 20000;
  bottom: 0;
  left: 0;

  .messages,
  .options {
    display: none;
    position: relative;
    min-height: 27px * $multiplier - 30px;
    margin-top: (5px * $multiplier);
    padding: 0;

    border: (5px * $multiplier) solid transparent;
    border-image-source: url("../img/border.svg");
    border-image-width: 8px * $multiplier;
    border-image-repeat: repeat;
    border-image-slice: 10;

    .content {
      min-height: 20px * $multiplier;

      background: white;
      font-size: 10px * $multiplier;
      font-family: VT323, monospace;

      padding: (4px * $multiplier) 
               (14px * $multiplier) 
               (4px * $multiplier) 
               (4px * $multiplier);
      box-sizing: border-box;

      .current-selection {
        color: #b24946;
      }
    }

    .next-arrow,
    .select-arrow {
      position: absolute;

      height: 9px * $multiplier;
      width: 7px * $multiplier;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .next-arrow {
      bottom: 5px * $multiplier;
      right: 4px * $multiplier;
    }

    .select-arrow {
      top: 4px * $multiplier;
      left: 4px * $multiplier;
    }
  }

  .messages {
    width: (16px * 11 - 3) * $multiplier - 30px;
  }

  .options {
    .content {
      padding-left: 15px * $multiplier;
    }
  }
}

.character-select-display {
  position: absolute;
  top: 5px * $multiplier;
  left: 50%;
  transform: translateX(-50%);

  width: 23px * 2 * $multiplier;
  height: 29px * 2 * $multiplier;

  background: url(../img/screens/character-select/sprite-background.svg);
  background-size: 100%;
  z-index: 10001;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;

    animation: rotate-character 2s steps(4) infinite;
  }

  @keyframes rotate-character {
     from { top: 0; }
       to { top: -29px * 2 * 4 * $multiplier; }
  }
}

/***************
    Z-INDEX
----------------
0 : Shadow
1 : Sprite
3 : Mirror (see js/event/mirror.js)
10x : Avatar, NPC (z-index changes based on y coord)
10x + 1 : Avatar/NPC reaction bubble
10x + 5 : Item
10000 : Screens
20000 : Prompt
***************/