$multiplier: 4; // (current multiplier is 3)

body {
  background: black;
  margin: 0;
  padding: 0;
}

#game {
  position: relative;
  overflow: hidden;

  height: 16px * 11 * $multiplier;
  width: 16px * 11 * $multiplier;

  margin: 30px auto 0;

  opacity: 0;
  transition: opacity 0s;

  &.visible {
    opacity: 1;
  transition: opacity .5s;
  }
}

.area {
  position: absolute;
  overflow: hidden;
  transition: left .2s, bottom .2s;

  img {
    width: 100%;
    height: 100%;
  }

  #player {
    position: absolute;
    z-index: 5;

    $h: 29px  * $multiplier;
    $w: 23px * $multiplier;

    width: $w;
    height: $h;
    
    transition: left .2s, bottom .2s;

    left: -7px * $multiplier;
    bottom: 0;

    #avatar {
      position: relative;
      width: 100%;
      height: 100%;

      z-index: 1;

      background-image: url(../img/characters/adele.svg);
      background-position: 0;
      background-size: ($w * 4) ($h * 4);
    }
  }

  .shadow {
    position: absolute;
    width: 15px * $multiplier;
    height: 6px * $multiplier;

    z-index: 0;

    left: 4px * $multiplier;
    bottom: 1px * $multiplier;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .npc {
    position: absolute;
    z-index: 3;

    $h: 29px  * $multiplier;
    $w: 23px * $multiplier;

    width: $w;
    height: $h;
    
    transition: left .2s, bottom .2s;

    .avatar {
      position: relative;
      width: 100%;
      height: 100%;

      z-index: 1;

      background-position: 0 0;
      background-size: ($w * 4) ($h * 4);
    }
  }

  .item {
    position: absolute;
    z-index: 6;
    display: none;
  }
}

.prompt {
  position: absolute;
  z-index: 7;
  bottom: 0;
  left: 0;

  .messages,
  .options {
    display: none;
    position: relative;
    min-height: 27px * $multiplier - 30px;
    margin-top: (5px * $multiplier);
    padding: 0;

    border: (5px * $multiplier) solid transparent;
    border-image-source: url("../img/border.svg");
    border-image-width: 8px * $multiplier;
    border-image-repeat: repeat;
    border-image-slice: 10;

    .content {
      min-height: 20px * $multiplier;

      background: white;
      font-size: 10px * $multiplier;
      font-family: VT323, monospace;

      padding: (4px * $multiplier) 
               (14px * $multiplier) 
               (4px * $multiplier) 
               (4px * $multiplier);
      box-sizing: border-box;

      .current-selection {
        color: #b24946;
      }
    }

    .next-arrow,
    .select-arrow {
      position: absolute;

      height: 9px * $multiplier;
      width: 7px * $multiplier;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .next-arrow {
      bottom: 5px * $multiplier;
      right: 4px * $multiplier;
    }

    .select-arrow {
      top: 4px * $multiplier;
      left: 4px * $multiplier;
    }
  }

  .messages {
    width: (16px * 11 - 3) * $multiplier - 30px;
  }

  .options {
    .content {
      padding-left: 15px * $multiplier;
    }
  }
}

/***************
    Z-INDEX
----------------
0 : Shadow
1 : Avatar
2 :
3 : NPC
4 : Mirror (see js/event/mirror.js)
5 : Player
6 : Item
7 : Text Prompt
***************/