body {
  background: black;
  margin: 0;
  padding: 0; }

#game {
  position: relative;
  overflow: hidden;
  height: 704px;
  width: 704px;
  margin: 30px auto 0;
  opacity: 0;
  transition: opacity .5s; }

.area {
  position: absolute;
  overflow: hidden;
  transition: left .2s, bottom .2s; }
  .area img {
    width: 100%;
    height: 100%; }
  .area #player {
    position: absolute;
    z-index: 5;
    width: 92px;
    height: 116px;
    transition: left .2s, bottom .2s;
    left: -28px;
    bottom: 0; }
    .area #player #avatar {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: url(../img/characters/adele.svg);
      background-position: 0;
      background-size: 368px 464px; }
  .area .shadow {
    position: absolute;
    width: 60px;
    height: 24px;
    z-index: 0;
    left: 16px;
    bottom: 4px; }
    .area .shadow img {
      width: 100%;
      height: 100%; }
  .area .npc {
    position: absolute;
    z-index: 3;
    width: 92px;
    height: 116px;
    transition: left .2s, bottom .2s; }
    .area .npc .avatar {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-position: 0 0;
      background-size: 368px 464px; }
  .area .item {
    position: absolute;
    z-index: 6;
    display: none; }

.prompt {
  position: absolute;
  z-index: 7;
  bottom: 0;
  left: 0; }
  .prompt .messages,
  .prompt .options {
    display: none;
    position: relative;
    min-height: 78px;
    margin-top: 20px;
    padding: 0;
    border: 20px solid transparent;
    border-image-source: url("../img/border.svg");
    border-image-width: 32px;
    border-image-repeat: repeat;
    border-image-slice: 10; }
    .prompt .messages .content,
    .prompt .options .content {
      min-height: 80px;
      background: white;
      font-size: 40px;
      font-family: VT323, monospace;
      padding: 16px 56px 16px 16px;
      box-sizing: border-box; }
      .prompt .messages .content .current-selection,
      .prompt .options .content .current-selection {
        color: #b24946; }
    .prompt .messages .next-arrow,
    .prompt .messages .select-arrow,
    .prompt .options .next-arrow,
    .prompt .options .select-arrow {
      position: absolute;
      height: 36px;
      width: 28px; }
      .prompt .messages .next-arrow img,
      .prompt .messages .select-arrow img,
      .prompt .options .next-arrow img,
      .prompt .options .select-arrow img {
        width: 100%;
        height: 100%; }
    .prompt .messages .next-arrow,
    .prompt .options .next-arrow {
      bottom: 20px;
      right: 16px; }
    .prompt .messages .select-arrow,
    .prompt .options .select-arrow {
      top: 16px;
      left: 16px; }
  .prompt .messages {
    width: 662px; }
  .prompt .options .content {
    padding-left: 60px; }

/***************
    Z-INDEX
----------------
0 : Shadow
1 : Avatar
2 :
3 : NPC
4 : Mirror (see _apt-1.scss)
5 : Player
6 : Item
7 : Text Prompt
***************/
#studio {
  left: 32px;
  bottom: 64px;
  width: 640px;
  height: 576px; }
  #studio .npc-liam {
    left: 372px;
    bottom: 124px; }
    #studio .npc-liam #liam {
      background-image: url(../img/characters/liam.svg); }
  #studio .npc-remy {
    left: 500px;
    bottom: 252px; }
    #studio .npc-remy #remy {
      background-image: url(../img/pets/test-pet.svg); }

#apt-1 {
  width: 1792px;
  height: 1152px; }
  #apt-1 .gym-doorframe {
    height: 128px;
    width: 192px;
    left: 512px;
    bottom: 256px; }
  #apt-1 .gym-wall {
    height: 128px;
    width: 576px;
    left: 512px;
    bottom: 320px; }
  #apt-1 .npc-gym-bro {
    left: 948px;
    bottom: 572px; }
    #apt-1 .npc-gym-bro #gym-bro {
      background-image: url("../img/characters/gym-bro.svg");
      background-size: 368px 464px;
      -webkit-animation: run 1s steps(4) infinite;
      animation: run 1s steps(4) infinite; }
@-webkit-keyframes run {
  from {
    background-position: 0 -116px; }
  to {
    background-position: -368px -116px; } }
@keyframes run {
  from {
    background-position: 0 -116px; }
  to {
    background-position: -368px -116px; } }
  #apt-1 .pool-doorframe {
    height: 128px;
    width: 192px;
    left: 1216px;
    bottom: 256px; }
  #apt-1 .pool-wall {
    height: 128px;
    width: 576px;
    left: 1216px;
    bottom: 320px; }
  #apt-1 .npc-doppelganger {
    display: none;
    left: 512px;
    bottom: 832px; }
    #apt-1 .npc-doppelganger #doppelganger {
      background-image: url(../img/characters/adele.svg); }
  #apt-1 #mirror {
    display: block;
    z-index: 4;
    height: 256px;
    width: 576px;
    left: 512px;
    bottom: 832px; }

#apt-2 {
  width: 2304px;
  height: 384px; }

#elevator {
  left: 224px;
  bottom: 224px;
  width: 256px;
  height: 256px; }

#lobby {
  width: 640px;
  height: 448px; }
  #lobby .npc-holland {
    left: 372px;
    bottom: 252px; }
    #lobby .npc-holland #holland {
      background-image: url(../img/characters/holland-counter.svg); }
  #lobby .counter {
    height: 128px;
    width: 64px;
    left: 448px;
    bottom: 192px; }

/*# sourceMappingURL=main.css.map */
