body {
  background: black;
  margin: 0;
  padding: 0; }

#game {
  position: relative;
  overflow: hidden;
  height: 704px;
  width: 704px;
  margin: 30px auto 0;
  opacity: 0;
  transition: opacity 0s; }
  #game.visible {
    opacity: 1;
    transition: opacity .5s; }

.area {
  position: absolute;
  overflow: hidden;
  transition: left 0.15s linear, bottom 0.15s linear; }
  .area img {
    width: 100%;
    height: 100%; }
  .area #avatar {
    position: absolute;
    width: 92px;
    height: 116px;
    transition: left 0.15s linear, bottom 0.15s linear;
    left: -28px;
    bottom: 0; }
    .area #avatar .sprite {
      background-image: url(../img/characters/adele.svg); }
    .area #avatar .shadow {
      background-image: url(../img/characters/shadow_sm.svg); }
  .area .npc {
    position: absolute;
    width: 92px;
    height: 116px;
    transition: left 0.15s linear, bottom 0.15s linear; }
  .area .reaction {
    position: absolute;
    top: -32px;
    height: 76px;
    width: 92px;
    background-image: url(../img/characters/reaction.svg);
    background-size: 1104px 228px;
    background-position: 0 0; }
  .area .react-surprise {
    -webkit-animation: react-surprise 1s steps(8);
    animation: react-surprise 1s steps(8); }
  .area .react-love {
    -webkit-animation: react-love 1s steps(8);
    animation: react-love 1s steps(8); }
  .area .react-wat {
    -webkit-animation: react-wat 2s steps(11);
    animation: react-wat 2s steps(11); }
@keyframes react-surprise {
  from {
    background-position: -92px 0; }
  to {
    background-position: -828px 0; } }
@-webkit-keyframes react-surprise {
  from {
    background-position: -92px 0; }
  to {
    background-position: -828px 0; } }
@keyframes react-love {
  from {
    background-position: -92px -76px; }
  to {
    background-position: -828px -76px; } }
@-webkit-keyframes react-love {
  from {
    background-position: -92px -76px; }
  to {
    background-position: -828px -76px; } }
@keyframes react-wat {
  from {
    background-position: -92px -152px; }
  to {
    background-position: -1104px -152px; } }
@-webkit-keyframes react-wat {
  from {
    background-position: -92px -152px; }
  to {
    background-position: -1104px -152px; } }
  .area .shadow {
    position: absolute;
    width: 60px;
    height: 24px;
    z-index: 0;
    left: 16px;
    bottom: 4px;
    background-size: 100%; }
  .area .sprite {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: 0 0;
    background-size: 368px 464px; }
  .area .walk-left {
    -webkit-animation: walk-left-start 0.3375s steps(3), walk-left 0.45s 0.3375s steps(4) infinite;
    animation: walk-left-start 0.3375s steps(3), walk-left 0.45s 0.3375s steps(4) infinite; }
  .area .walk-up {
    -webkit-animation: walk-up-start 0.3375s steps(3), walk-up 0.45s 0.3375s steps(4) infinite;
    animation: walk-up-start 0.3375s steps(3), walk-up 0.45s 0.3375s steps(4) infinite; }
  .area .walk-right {
    -webkit-animation: walk-right-start 0.3375s steps(3), walk-right 0.45s 0.3375s steps(4) infinite;
    animation: walk-right-start 0.3375s steps(3), walk-right 0.45s 0.3375s steps(4) infinite; }
  .area .walk-down {
    -webkit-animation: walk-down-start 0.3375s steps(3), walk-down 0.45s 0.3375s steps(4) infinite;
    animation: walk-down-start 0.3375s steps(3), walk-down 0.45s 0.3375s steps(4) infinite; }
@keyframes walk-left-start {
  from {
    background-position: -92px -348px; }
  to {
    background-position: -368px -348px; } }
@-webkit-keyframes walk-left-start {
  from {
    background-position: -92px -348px; }
  to {
    background-position: -368px -348px; } }
@keyframes walk-left {
  from {
    background-position: 0px -348px; }
  to {
    background-position: -368px -348px; } }
@-webkit-keyframes walk-left {
  from {
    background-position: 0px -348px; }
  to {
    background-position: -368px -348px; } }
@keyframes walk-up-start {
  from {
    background-position: -92px -232px; }
  to {
    background-position: -368px -232px; } }
@-webkit-keyframes walk-up-start {
  from {
    background-position: -92px -232px; }
  to {
    background-position: -368px -232px; } }
@keyframes walk-up {
  from {
    background-position: 0px -232px; }
  to {
    background-position: -368px -232px; } }
@-webkit-keyframes walk-up {
  from {
    background-position: 0px -232px; }
  to {
    background-position: -368px -232px; } }
@keyframes walk-right-start {
  from {
    background-position: -92px -116px; }
  to {
    background-position: -368px -116px; } }
@-webkit-keyframes walk-right-start {
  from {
    background-position: -92px -116px; }
  to {
    background-position: -368px -116px; } }
@keyframes walk-right {
  from {
    background-position: 0px -116px; }
  to {
    background-position: -368px -116px; } }
@-webkit-keyframes walk-right {
  from {
    background-position: 0px -116px; }
  to {
    background-position: -368px -116px; } }
@keyframes walk-down-start {
  from {
    background-position: -92px 0px; }
  to {
    background-position: -368px 0px; } }
@-webkit-keyframes walk-down-start {
  from {
    background-position: -92px 0px; }
  to {
    background-position: -368px 0px; } }
@keyframes walk-down {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -368px 0px; } }
@-webkit-keyframes walk-down {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -368px 0px; } }
  .area .item {
    position: absolute;
    background-size: 100%;
    transition: left 0.15s linear, bottom 0.15s linear; }

#screen {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-size: 100%; }
  #screen .selector {
    position: absolute;
    background-size: 100%;
    z-index: 10001; }

.prompt {
  position: absolute;
  z-index: 20000;
  bottom: 0;
  left: 0; }
  .prompt .messages,
  .prompt .options {
    display: none;
    position: relative;
    min-height: 78px;
    margin-top: 20px;
    padding: 0;
    border: 20px solid transparent;
    border-image-source: url("../img/border.svg");
    border-image-width: 32px;
    border-image-repeat: repeat;
    border-image-slice: 10; }
    .prompt .messages .content,
    .prompt .options .content {
      min-height: 80px;
      background: white;
      font-size: 40px;
      font-family: VT323, monospace;
      padding: 16px 56px 16px 16px;
      box-sizing: border-box; }
      .prompt .messages .content .current-selection,
      .prompt .options .content .current-selection {
        color: #b24946; }
    .prompt .messages .next-arrow,
    .prompt .messages .select-arrow,
    .prompt .options .next-arrow,
    .prompt .options .select-arrow {
      position: absolute;
      height: 36px;
      width: 28px; }
      .prompt .messages .next-arrow img,
      .prompt .messages .select-arrow img,
      .prompt .options .next-arrow img,
      .prompt .options .select-arrow img {
        width: 100%;
        height: 100%; }
    .prompt .messages .next-arrow,
    .prompt .options .next-arrow {
      bottom: 20px;
      right: 16px; }
    .prompt .messages .select-arrow,
    .prompt .options .select-arrow {
      top: 16px;
      left: 16px; }
  .prompt .messages {
    width: 662px; }
  .prompt .options .content {
    padding-left: 60px; }

.character-select-display {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 184px;
  height: 232px;
  background: url(../img/screens/character-select/sprite-background.svg);
  background-size: 100%;
  z-index: 10001;
  overflow: hidden; }
  .character-select-display canvas {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: rotate-character 2s steps(4) infinite;
    animation: rotate-character 2s steps(4) infinite; }
@keyframes rotate-character {
  from {
    top: 0; }
  to {
    top: -928px; } }
@-webkit-keyframes rotate-character {
  from {
    top: 0; }
  to {
    top: -928px; } }
/***************
    Z-INDEX
----------------
0 : Shadow
1 : Sprite
3 : Mirror (see js/event/mirror.js)
10x : Avatar, NPC (z-index changes based on y coord)
10x + 1 : Avatar/NPC reaction bubble
10x + 5 : Item
10000 : Screens
20000 : Prompt
***************/

/*# sourceMappingURL=main.css.map */
