@import "mixins";
$block: 16px;
$multiplier: 3;
$anim-speed: .15s;
$anim-speed-npc: .3s;
$game-width: 11;
$game-height: 11;

body {
  background: #353535;
  margin: 0;
  padding: 0;
}

#status {
  position: relative;

  $h: 25px * $multiplier;
  $w: ($block * $game-width + 12) * $multiplier;

  width: $w;
  height: $h;
  margin: 20px auto 0;

  background-image: url(../img/status/status.svg);
  background-size: $w $h;
  opacity: 0;

  .wallet-tho {
    top: 11px * $multiplier;
    left: 13px * $multiplier;
    background-position: 0 (-32px * $multiplier);
  }

  .wallet-hun {
    top: 11px * $multiplier;
    left: 20px * $multiplier;
    background-position: 0 (-32px * $multiplier);
  }

  .wallet-ten {
    top: 11px * $multiplier;
    left: 27px * $multiplier;
    background-position: 0 (-32px * $multiplier);
  }

  .wallet-sin {
    top: 11px * $multiplier;
    left: 34px * $multiplier;
    background-position: 0 (-32px * $multiplier);
  }

  .season {
    position: absolute;
    top: 2px * $multiplier;
    right: 43px * $multiplier;

    $w: 15px * $multiplier;
    $h: 33px * $multiplier;

    width: $w;
    height: 9px * $multiplier;

    background-image: url(../img/status/seasons.svg);
    background-size: $w $h;
    background-position: 0 (-24px * $multiplier);
  }

  .weekday {
    position: absolute;
    top: 2px * $multiplier;
    right: 2px * $multiplier;

    $w: 22px * $multiplier;
    $h: 57px * $multiplier;

    width: $w;
    height: 9px * $multiplier;

    background-image: url(../img/status/weekdays.svg);
    background-size: $w $h;
  }

  .number {
    position: absolute;

    $w: 8px * $multiplier;
    $h: 89px * $multiplier;

    width: $w;
    height: 9px * $multiplier;

    background-image: url(../img/status/numbers.svg);
    background-size: $w $h;

    &.dark {
      background-image: url(../img/status/numbers-dark.svg);
    }
  }

  .day-tenth {
    top: 2px * $multiplier;
    right: 33px * $multiplier;
    background-position: 0 (-32px * $multiplier);
  }

  .day-single {
    top: 2px * $multiplier;
    right: 26px * $multiplier;
    background-position: 0 (-8px * $multiplier);
  }

  .hour-tenth {
    top: 11px * $multiplier;
    right: 50px * $multiplier;
    background-position: 0 (-8px * $multiplier);
  }

  .hour-single {
    top: 11px * $multiplier;
    right: 43px * $multiplier;
    background-position: 0 (-40px * $multiplier);
  }

  .minute-tenth {
    top: 11px * $multiplier;
    right: 33px * $multiplier;
    background-position: 0 (-8px * $multiplier);
  }

  .minute-single {
    top: 11px * $multiplier;
    right: 26px * $multiplier;
    background-position: 0 (-8px * $multiplier);
  }

  .time-of-day {
    position: absolute;
    top: 11px * $multiplier;
    right: 8px * $multiplier;

    $w: 16px * $multiplier;
    $h: 17px * $multiplier;

    width: $w;
    height: 9px * $multiplier;

    background-image: url(../img/status/time-of-day.svg);
    background-size: $w $h;
    background-position: 0 (-8px * $multiplier);
  }
}

.background {
  position: absolute;
  z-index: -10;
  top: 19px * $multiplier + 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  $h: ($block * $game-height + 12) * $multiplier;
  $w: ($block * $game-width + 12) * $multiplier;
  
  background-image: url(../img/pieces/background.svg);
  background-size: $w $h;

  height: $h;
  width: $w;
}

#game {
  position: relative;
  overflow: hidden;
  background: black;

  height: $block * $game-height * $multiplier;
  width: $block * $game-width * $multiplier;

  margin: 0 auto;

  opacity: 0;
  transition: opacity 0s;

  &.visible {
    opacity: 1;
    transition: opacity .5s;
  }
}

#area-container {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.area {
  position: absolute;
  transition: transform $anim-speed linear;
  background-size: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  $h: 29px * $multiplier;
  $w: 23px * $multiplier;

  #avatar {
    position: absolute;

    width: $w;
    height: $h;
    
    transition: transform $anim-speed linear;

    .sprite {
      background-image: url(../img/characters/adele.svg);  
    }        

    $npc: false;
    @include walk("left", $anim-speed, -87px, $npc);
    @include walk("up", $anim-speed, -58px, $npc);
    @include walk("right", $anim-speed, -29px, $npc);
    @include walk("down", $anim-speed, 0, $npc);

    .shadow {
      background-image: url(../img/characters/shadow_sm.svg);
    }
  }

  .npc {
    position: absolute;

    width: $w;
    height: $h;
    
    transition: transform $anim-speed-npc linear;
  }

  .reaction {
    position: absolute;
    top: -8px * $multiplier;

    height: 19px * $multiplier;
    width: $w;

    background-image: url(../img/characters/reaction.svg);
    background-size: ($w * 12) (19px * $multiplier * 5);
    background-position: 0 0;
  }

  @include reaction("surprise", 1s, 8, 0);
  @include reaction("love", 1s, 8, -19px);
  @include reaction("wat", 2s, 11, -38px);
  @include reaction("sleep", 4s, 11, -57px);
  @include reaction("happy", 1s, 8, -76px);

  .shadow {
    position: absolute;
    width: 15px * $multiplier;
    height: 6px * $multiplier;

    z-index: 0;

    left: 4px * $multiplier;
    bottom: 1px * $multiplier;

    background-size: 100%;
  }

  .sprite {
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 1;

    background-position: 0 0;
    background-size: ($w * 4) ($h * 4);
  }  

  $npc: true;
  @include walk("left", $anim-speed-npc, -87px, $npc);
  @include walk("up", $anim-speed-npc, -58px, $npc);
  @include walk("right", $anim-speed-npc, -29px, $npc);
  @include walk("down", $anim-speed, 0, $npc);

  .npc-doppelganger {
    transition: transform $anim-speed linear;
  }

  .item {
    position: absolute;

    background-size: 100%;
    transition: transform $anim-speed linear;
  }
}

.area-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 15000;
}

#screen {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-size: 100%;

  .selector {
    position: absolute;
    background-size: 100%;
    z-index: 10001;
  }

  .character-select-display {
    position: absolute;
    top: 5px * $multiplier;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    width: 23px * 2 * $multiplier;
    height: 29px * 2 * $multiplier;

    background: url(../img/screens/character-select/sprite-background.svg);
    background-size: 100%;
    z-index: 10001;
    overflow: hidden;

    canvas {
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: rotate-character 2s steps(4) infinite;
              animation: rotate-character 2s steps(4) infinite;
    }

    @keyframes rotate-character {
       from { top: 0; }
         to { top: -29px * 2 * 4 * $multiplier; }
    }

    @-webkit-keyframes rotate-character {
       from { top: 0; }
         to { top: -29px * 2 * 4 * $multiplier; }
    }
  }

  .text-entry {
    position: absolute;
    top: 40px * $multiplier;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    color: white;
    font-size: 27px * $multiplier;
    font-family: VT323, monospace;
    z-index: 10001;
  }

  .screen__email {
    position: absolute;
    left: 22px * $multiplier;
    width: 145px * $multiplier;
    height: 22px * $multiplier;
  }

  .email__more-up,
  .email__more-down {
    position: absolute;
    left: 82px * $multiplier;
    width: 12px * $multiplier;
    height: 8px * $multiplier;
    background-size: 100%;
  }

  .email__more-up {
    background-image: url(../img/screens/email/more-up.svg);
    top: 23px * $multiplier;
  }

  .email__more-down {
    background-image: url(../img/screens/email/more-down.svg);
    bottom: 10px * $multiplier;
  }

  .email__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 13px * $multiplier;
    height: 22px * $multiplier;
    background-image: url(../img/screens/email/mail.svg);
    background-size: 13px * $multiplier 44px * $multiplier;
  }

  .email__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px * $multiplier;
    font-size: 10px * $multiplier;
    font-family: VT323, monospace;
    text-overflow: ellipsis;
  }
}

.prompt {
  position: absolute;
  z-index: 20000;
  bottom: 0;
  left: 0;

  .messages,
  .options {
    display: none;
    position: relative;
    min-height: 27px * $multiplier - 30px;
    margin-top: (5px * $multiplier);
    padding: 0;

    border: (5px * $multiplier) solid transparent;
    border-image-source: url("../img/pieces/border.svg");
    border-image-width: 8px * $multiplier;
    border-image-repeat: repeat;
    border-image-slice: 10;

    .content {
      min-height: 20px * $multiplier;

      background: white;
      font-size: 10px * $multiplier;
      font-family: VT323, monospace;

      padding: (4px * $multiplier) 
               (14px * $multiplier) 
               (4px * $multiplier) 
               (4px * $multiplier);
      box-sizing: border-box;

      .current-selection {
        color: #b24946;
      }
    }

    .next-arrow,
    .select-arrow {
      position: absolute;

      $h: 9px * $multiplier;
      $w: 7px * $multiplier;

      height: $h;
      width: $w;
      background-image: url(../img/pieces/arrow.svg);
      background-position: 0 0;
      background-size: (14px * $multiplier) $h;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .next-arrow {
      bottom: 5px * $multiplier;
      right: 4px * $multiplier;

      -webkit-animation: flash-arrow .6s steps(2) infinite;
              animation: flash-arrow .6s steps(2) infinite;
    }

    @keyframes flash-arrow {
       from { background-position: 0 0; }
         to { background-position: (-10px * $multiplier) 0; }
    }

    @-webkit-keyframes flash-arrow {
       from { background-position: 0 0; }
         to { background-position: (-10px * $multiplier) 0; }
    }

    .select-arrow {
      top: 4px * $multiplier;
      left: 4px * $multiplier;
    }
  }

  .messages {
    width: ($block * $game-width) * $multiplier - 30px;
  }

  .options {
    .content {
      padding-left: 15px * $multiplier;
    }
  }
}

/***************
    Z-INDEX
----------------
-1  : Background
0   : Shadow
1   : Sprite
3   : Mirror (see js/event/mirror.js)
10x : Avatar, NPC (z-index changes based on y coord)
10x + 1 : Avatar/NPC reaction bubble
10x + 5 : Item
10000 : Screens
15000 : Area Shadow
20000 : Prompt
***************/