#apt-1 {
  width: 16px * 28 * $multiplier;
  height: 16px * 18 * $multiplier;

  .gym-doorframe {
    height: 16px * 2 * $multiplier;
    width: 16px * 3 * $multiplier;

    left: 16px * 8 * $multiplier;
    bottom: 16px * 4 * $multiplier;
  }

  .gym-wall {
    height: 16px * 2 * $multiplier;
    width: 16px * 9 * $multiplier;

    left: 16px * 8 * $multiplier;
    bottom: 16px * 5 * $multiplier;
  }

  .npc-gym-bro {
    left: 16px * 15 * $multiplier;
    bottom: 16px * 9 * $multiplier;

    #gym-bro {
      background-image: url("../img/characters/gym-bro.svg");
      background-size: (68px * $multiplier) (26px * $multiplier);

      -webkit-animation: play .5s steps(4) infinite;
              animation: play .5s steps(4) infinite;
    }

    @-webkit-keyframes play {
       from { background-position:   0px 0; }
         to { background-position: (-68px * $multiplier) 0; }
    }

    @keyframes play {
       from { background-position:   0px 0; }
         to { background-position: (-68px * $multiplier) 0; }
    }
  }  

  .pool-doorframe {
    height: 16px * 2 * $multiplier;
    width: 16px * 3 * $multiplier;

    left: 16px * 19 * $multiplier;
    bottom: 16px * 4 * $multiplier;
  }

  .pool-wall {
    height: 16px * 2 * $multiplier;
    width: 16px * 9 * $multiplier;

    left: 16px * 19 * $multiplier;
    bottom: 16px * 5 * $multiplier;
  }

  .npc-doppelganger {
    display: none;
    left: 16px * 8 * $multiplier;
    bottom: 16px * 13 * $multiplier;

    #doppelganger {
      background-image: url(../img/characters/adele_front.svg);
    }
  }

  #mirror {
    display: block;
    z-index: 4;

    height: 16px * 4 * $multiplier;
    width: 16px * 9 * $multiplier;

    left: 16px * 8 * $multiplier;
    bottom: 16px * 13 * $multiplier;
  }

  .water-1 {
    height: 16px * 2 * $multiplier;
    width: 16px * 5 * $multiplier;

    left: 16px * 21 * $multiplier;
    bottom: 16px * 7 * $multiplier;
  }
}