#apt-1 {
  width: 16px * 28 * $multiplier;
  height: 16px * 18 * $multiplier;

  .gym-doorframe {
    height: 16px * 2 * $multiplier;
    width: 16px * 3 * $multiplier;

    left: 16px * 8 * $multiplier;
    bottom: 16px * 4 * $multiplier;
  }

  .gym-wall {
    height: 16px * 2 * $multiplier;
    width: 16px * 9 * $multiplier;

    left: 16px * 8 * $multiplier;
    bottom: 16px * 5 * $multiplier;
  }

  .npc-gym-bro {
    left: (16px * 15 - 3) * $multiplier;
    bottom: (16px * 9 - 1) * $multiplier;

    #gym-bro {
      background-image: url("../img/characters/gym-bro.svg");
      background-size: (23px * 4 * $multiplier) (29px * 4 * $multiplier);

      -webkit-animation: run 1s steps(4) infinite;
              animation: run 1s steps(4) infinite;
    }

    @-webkit-keyframes run {
       from { background-position: 0 (-29px * $multiplier); }
         to { background-position: (-92px * $multiplier) (-29px * $multiplier); }
    }

    @keyframes run {
       from { background-position: 0 (-29px * $multiplier); }
         to { background-position: (-92px * $multiplier) (-29px * $multiplier) }
    }
  }  

  .pool-doorframe {
    height: 16px * 2 * $multiplier;
    width: 16px * 3 * $multiplier;

    left: 16px * 19 * $multiplier;
    bottom: 16px * 4 * $multiplier;
  }

  .pool-wall {
    height: 16px * 2 * $multiplier;
    width: 16px * 9 * $multiplier;

    left: 16px * 19 * $multiplier;
    bottom: 16px * 5 * $multiplier;
  }

  .npc-doppelganger {
    display: none;
    left: 16px * 8 * $multiplier;
    bottom: 16px * 13 * $multiplier;

    #doppelganger {
      background-image: url(../img/characters/adele.svg);
    }
  }

  #mirror {
    display: block;
    z-index: 4;

    height: 16px * 4 * $multiplier;
    width: 16px * 9 * $multiplier;

    left: 16px * 8 * $multiplier;
    bottom: 16px * 13 * $multiplier;
  }
}