#lobby {
  width: 16px * 10 * $multiplier;
  height: 16px * 7 * $multiplier;

  .npc-holland {
    left: 16px * 6 * $multiplier;
    bottom: 16px * 4 * $multiplier;

    #holland {
      background-image: url(../img/characters/holland-counter.svg);
    }
  }

  .counter {
    height: 32px * $multiplier;
    width: 16px * $multiplier;

    left: 16px * 7 * $multiplier;
    bottom: 16px * 3 * $multiplier;
  }
}