#studio {
  left: 16px * .5 * $multiplier;
  bottom: 16px * 1 * $multiplier;

  width: 16px * 10 * $multiplier;
  height: 16px * 9 * $multiplier;

  .npc-liam {
    left: (16px * 6 - 3) * $multiplier;
    bottom: (16px * 2 - 1) * $multiplier;

    #liam {
      background-image: url(../img/characters/liam.svg);
    }
  }

  .npc-remy {
    left: (16px * 8 - 3) * $multiplier;
    bottom: (16px * 4 - 1) * $multiplier;

    #remy {
      background-image: url(../img/pets/test-pet.svg);
    }
  }
}